<h2>Sign up</h2>
<form action="/signup" method="post">
<!-- <form> -->
    <div>
      <label for="username">Username:</label>
      <input id="username" type="text" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" required>
    </div>
    <div>
      <input type="submit" value="Sign up" id="submit">
    </div>
</form>
<p>
  <a href="/login">Login &rarr;</a>
<p>
